@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: wheat;
}
a:hover {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: hsl(218, 28%, 13%);
  color: white;
  font-family: "Raleway", sans-serif;
}
.header {
  margin-bottom: 80px;
}

.logo {
  padding: 70px 0px 0px 10px;
  float: left;
}
.nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 70px;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin: 0 10px 20px 0;
  font-size: 1.1em;
}

/*Applied on Intro Image*/
.intro_img img {
  height: auto;
  max-width: 100%;
  text-align: center;
}
.intro_img {
  text-align: center;
}

.first_heading {
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 2.2em;
}
.first_heading h2 {
  text-align: center;
  max-width: 700px;
}
.first_content {
  justify-content: center;
  display: flex;
  font-size: 1.4em;
}
.first_content p {
  max-width: 600px;
  text-align: center;
  line-height: 1.4em;
  margin: auto;
}
.first_button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1em;
  width: fit-content;
  margin: 30px auto 40px auto;
  height: 3.2rem;
  width: 15rem;
  text-align: center;
}

.button_text {
  padding-top: 18px;
}

@media screen and (min-width: 650px) {
  .logo {
    padding: 70px 0px 0px 70px;
    float: left;
  }
  .nav ul li {
    margin: 0 50px 20px 0;
  }
  .features_top {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .features_bottom {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .feature1 {
    max-width: 350px;
    padding: 110px 50px 0 0;
  }
  .feature2 {
    max-width: 380px;
    padding: 105px 0 0 80px;
  }
  .feature3 {
    max-width: 400px;
    padding: 30px 140px 0 0;
  }

  .feature4 {
    max-width: 320px;
    padding: 40px 0 0 0;
  }
  .work_section {
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .work_heading {
    padding: 80px 100px 0 0;
    max-width: 300px;
    margin-right: 100px;
    font-size: 5em;
  }
  .work_heading h1 {
    font-size: 3em;
  }

  .work_para p {
    font-size: 1em;
  }
  .work_link {
    max-width: 150px;
  }

  .work_link a {
    line-height: 2em;
    color: hsl(176, 68%, 64%);
    border-bottom: 1px solid hsl(176, 68%, 64%);
  }
  .reviews {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .review1,
  .review2,
  .review3 {
    background-color: hsl(219, 30%, 18%);
    margin-right: 20px;
    height: 150px;
    padding-top: 20px;
    padding-left: 40px;
    font-family: "Open Sans", sans-serif;
    border-radius: 10px;
    flex-direction: row;
    font-size: 13px;
  }
  .second_button {
  }
  .inputs {
    width: 19rem;
  }

  .flex_container {
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
  }
}

.features_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.features_bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.feature1 {
  max-width: 350px;
  padding-top: 60px;
}
.feature2 {
  max-width: 380px;
  padding-top: 50px;
}
.feature3 {
  max-width: 400px;
  padding-top: 50px;
}

.feature4 {
  max-width: 320px;
  padding-top: 50px;
}

.work_section {
  margin: 30px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: auto;
}
.work_section img {
  height: auto;
  max-width: 100%;
}
.work_heading {
  font-size: 0.8em;
}
.work_para {
  font-size: 1.6em;
  width: 430px;
}

.work_link {
  max-width: 150px;
  font-size: 1.3em;
}

.work_link a {
  line-height: 2em;
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
}
.work_link a:hover {
  color: white;
}

.review1,
.review2,
.review3 {
  background-color: hsl(219, 30%, 18%);
  height: 160px;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
}

.person img {
  border-radius: 50px;
  float: left;
  padding-right: ;
}
.name {
  padding-left: 40px;
  font-size: 12px;
}

.designation {
  padding-left: 40px;
  font-size: 10px;
}
.second_button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1em;
  width: fit-content;
  margin: 30px auto 40px auto;
  height: 2.2rem;
  width: 12rem;
  text-align: center;
  float: right;
}

.button_text2 {
  padding-top: 10px;
}
.form {
  background-color: hsl(217, 28%, 15%);
  max-width: 700px;
  align-items: center;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  position: relative;
}
.flex_container {
  display: flex;
  flex-direction: row;
}
.form h3 {
  font-size: 27px;
}
.form p {
  max-width: 560px;
  margin: auto;
  font-size: 12px;
}

.inputs {
  border-radius: 20px;
  height: 2rem;
  padding-left: 30px;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}

.footer {
  background-color: hsl(216, 53%, 9%);
  max-width: 100%;
  margin-left: 0;
  z-index: -1;
}

.footer_box {
  background-color: hsl(216, 53%, 9%);
  margin: -100px 0 0 0;
}

.footer_logo {
  margin: 200px 10% 0 10%;
}

.footer_content {
  display: flex;
  flex-direction: row;
  margin: 0 10% 0 10%;
}

.footer_content img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 20px 15px 0 0;
}

.footer_content > * {
  margin: 0 20px 0 0;
}

.first_footer {
  display: flex;
  width: 45%;
  align-self: flex-start;
  justify-content: flex-start;
  font-size: 15px;
  margin-right: 60px;
}
.first_footer p {
  padding-left: 30px;
}
.first_footer p {
  padding-left: 20px;
}
.contact {
  width: 30%;
}
.image_location {
  padding-top: 20px;
  margin-left: 0;
}
.icon_text {
  display: flex;
}

.list_link {
  line-height: 30px;
  width: 15%;
}
.list_link li {
  list-style: none;
}
@media screen and (max-width: 1000px) {
  .footer_content {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer_content > * {
    width: 70%;
    margin: 0 10% 10% 10%;
  }
}
.social_media li {
  list-style: none;
  display: inline-block;
  border: 1px solid white;
  border-radius: 20px;
  padding: 5px;
}
.social_media ul {
  display: inline-block;
  width: 95px;
}
