@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

h1,
h2 {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: wheat;
}
a:hover {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: hsl(218, 28%, 13%);
  color: white;
  font-family: "Raleway", sans-serif;
}
.header {
  margin-bottom: 80px;
}

.logo {
  padding: 70px 0px 0px 10px;
  float: left;
}
.nav {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 70px;
}

.nav ul li {
  list-style: none;
  display: inline;
  margin: 0 10px 20px 0;
  font-size: 1.1em;
}

/*Applied on Intro Image*/
.intro_img img {
  height: auto;
  max-width: 100%;
  text-align: center;
}
.intro_img {
  text-align: center;
}

.first_heading {
  font-size: 1.9em;
  display: flex;
  justify-content: center;
  margin: auto;
  line-height: 2.2em;
}
.first_heading h2 {
  text-align: center;
  max-width: 700px;
}
.first_content {
  justify-content: center;
  display: flex;
  font-size: 1.4em;
}
.first_content p {
  max-width: 600px;
  text-align: center;
  line-height: 1.4em;
  margin: auto;
}
.first_button {
  background-image: linear-gradient(
    to right,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1em;
  width: fit-content;
  margin: 30px auto 40px auto;
  height: 3.2rem;
  width: 15rem;
  text-align: center;
}

.button_text {
  padding-top: 18px;
}

@media screen and (min-width: 650px) {
  .logo {
    padding: 70px 0px 0px 70px;
    float: left;
  }
  .nav ul li {
    margin: 0 50px 20px 0;
  }
  .features_top {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }

  .features_bottom {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .feature1 {
    max-width: 350px;
    padding: 110px 50px 0 0;
  }
  .feature2 {
    max-width: 380px;
    padding: 105px 0 0 80px;
  }
  .feature3 {
    max-width: 400px;
    padding: 30px 140px 0 0;
  }

  .feature4 {
    max-width: 320px;
    padding: 40px 0 0 0;
  }
  .work_section {
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .work_heading {
    padding: 80px 100px 0 0;
    max-width: 300px;
    margin-right: 100px;
    font-size: 5em;
  }
  .work_heading h1 {
    font-size: 3em;
  }

  
  .work_para p {
    font-size: 1em;
  }
  .work_link {
    max-width: 150px;
  }

  .work_link a {
    text-decoration: underline;
    line-height: 2em;
  }
}

.features_top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.features_bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 50px;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.feature1 {
  max-width: 350px;
  padding-top: 60px;
}
.feature2 {
  max-width: 380px;
  padding-top: 50px;
}
.feature3 {
  max-width: 400px;
  padding-top: 50px;
}

.feature4 {
  max-width: 320px;
  padding-top: 50px;
}

.work_section {
  margin: 30px 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;

}
.work_section img {
  height: auto;
  max-width: 100%;
}
.work_heading {
  font-size: 0.8em;
}
.work_para {
  font-size: 1.6em;
  width: 430px;
}

.work_link {
  max-width: 150px;
  font-size: 1.3em;
}

.work_link a {
  text-decoration: underline;
  line-height: 2em;
}

.reviews{
  border: 1px solid red;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.review1, .review2, .review3 {
  background-color: hsl(219, 30%, 18%);
  border: 1px solid blue;
  margin-right: 20px;
  height: 150px;
  padding-top: 20px;
  padding-left: 40px;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}
.review1 {
  margin-left: 90px;
}

.review3 {
  margin-right: 90px;
}

.person img {
  border-radius: 50px;
}